<div class = "container" id = "club_list_cover">
	<% @clubs.reverse.each do |club| %>
			<div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
				<div class ="thumbnail">
					<!-- 나중에 이미지 대신 DB 넣어줄 곳-->
					<%= link_to image_tag("Category22.gif"), club_view_path %>	
				</div>
			</div>
	<% end %>

	<div id = "paginate">
		<%= will_paginate %>
	</div>
</div>
