<!--아랫 부분 구간 -->
	<footer class = "navbar naver-inverse">
		<div class = "container">
			<nav>
			<%= link_to "Fatdog", "#", id: "logo" %>
			<ul class = "nav navbar-nav navbar-right">
				세종대학교 동아리 소개
			</ul>
			</nav>
		</div>

		<div class = "container">
			Made in Fatdog
		</div>

	</footer>