<!-- Single button -->
    <class="btn-group" id = "dropdownbtn">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "전 체", all_show_path %></li>
        <li role="separator" class="divider"></li>
        <li><a href="play">연 극</a></li>
        <li><a href="culture">문 화</a></li>
        <li><a href="sports">체 육</a></li>
        <li><a href="study">학 술</a></li>
        <li><a href="helper">봉 사</a></li>
        <li><a href="religion">종 교</a></li>
      </ul>
    </class="btn-group">
