<div class = "container" id = "club_9_cut">
	<div id = "club_list_cover">
		<% @clubs.reverse.each do |club| %>
				<div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
					<a href = "clubs/club_view", class = "thumbnail"> </a>
					<h4><%= club.name %></h4>
				</div>
		<% end %>
	</div>
</div>

<div id = "center">
	<%= will_paginate @clubs, previous_label: "<<", next_label: ">>" %>
</div>