<div class = "container" id = "club_list_cover">
	<% @clubs.reverse.each do |club| %>
			<div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
				<div class ="thumbnail">
					<!-- 나중에 DB 넣어줄 곳-->
				</div>
			</div>
	<% end %>

	<div id = "paginate">
		<%= will_paginate @clubs %>
	</div>
</div>
