<!-- 윗 부분 구간 -->
<header class = "navbar" style= "margin-bottom: 0px">
	<div class = "container" >
	<% if logged_in? %>
		<div class = "nav navbar-right">
			<strong>
			<button class="btn"> <%= current_user.name %> </button>
			<%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-primary" %>
			</strong>
		</div>
	<% end %>
		<br>
		<h1>
			<%= link_to "SejongClub", "/", id: "logo" %>
		</h1>
	</div>
</header>