@import "bootstrap-sprockets";
@import "bootstrap";

/* header setting */
header {
	padding-top: 1cm;
	padding-bottom: 12cm;
	back-color: #777;
}

/* footer setting */
footer {
	padding-top: 3cm;
	padding-bottom: 1cm;
}