<div class = "container" id = "club_list_cover">
	<% @clubs.reverse.each do |club| %>
			<div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
				<div class ="thumbnail">
					<%= link_to image_tag("Category22.gif") %>	
				</div>
			</div>

		<!--
		<div clss="row">
			<div class="col-md-4">
				<div class ="thumbnail">
					<img src ="Picture.png" alt="...">
					<div class = "caption">
						<h5><%= club.category%> 동아리</h5>
					</div>
				</div>
			</div>
		</div>
		-->
	<% end %>

	<div id = "center">
		<%= will_paginate %>
	</div>
</div>
